<div class="text-white fixed bottom-2 left-auto text-center text-sm">
    <p>This is a copy of the minigame from the video game called Cult of the Lamb.</p>
    <p>Unlike the in-game version, this is created to play against your friends.</p>
    <p>You can buy the original game on the <a href="https://www.cultofthelamb.com/" target="_blank" class="underline hover:no-underline hover:text-red-500">Cult of the Lamb</a> website.</p>
</div>